<h1>ユーザー検索</h1>

<%= form_with url: search_users_path, method: :get, local: true do |f| %>
	<%= f.text_field :name %>
	<%= f.submit :search %>
	<% end %>

	<table>
		<thead>
			<tr>
				<th>名前</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= link_to user.name, user_path(user.id) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
